/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  background-color: #ccd5ae;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 1299px) {
  .container-section {
    margin: 0 10%;
  }
}

@media only screen and (min-width: 1300px) {
  .container-section {
    margin: 0 30%;
  }
}


