<section [ngClass]="{'loading': !tasks.length}">
  <ul *ngIf="tasks$ | async as tasks">
    <li *ngFor="let task of tasks"
        [ngClass]="{ 'completed-task': task.completed, 'last-task': task.completed }">
      <div>
        <mat-checkbox
          color="primary"
          [checked]="task.completed"
          (click)="onTaskCompleted(task.id, !task.completed)"
        ></mat-checkbox>
        <span>{{task.name}}</span>
      </div>

      <div>
        <button mat-icon-button color="warn" aria-label="Remover Curso" (click)="onDelete(task)">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button color="primary" aria-label="Editar Curso" (click)="onEdit(task.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </li>
  </ul>


  <div class="button">
    <button
      mat-raised-button
      color="primary"
      aria-label="Adicionar uma tarefa"
      (click)="onAdd()"
      class="action-column-header"
    >
      <span>Adicionar tarefa</span>
      <mat-icon>add</mat-icon>
    </button>

    <!--    <button class="button" color="primary" (click)="on()" mat-raised-button>Cancelar</button>-->
  </div>
</section>
