h1 {
  padding: 15px 15px;
  text-align: center;
  font-size: 18px;
  margin: 0;
  color: white;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  margin-top: 10%;

  border-radius: 10px;
}
